doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "People's Post OTP Verification"
    body
      h1.h1 People's Post OTP Verification
      p 
      strong #{otherProperty}
      br
      Please enter this code in your app to verify your email address